{% extends 'home.html.twig' %}

{% block title %}Compte{% endblock %}

 {% block body %}
     <h1> Informations utilisateurs </h1>

  <table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Email</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col" class="centrer">Action</th>
    </tr>
  </thead>
  
  <tbody>
      
    <tr>
        <th scope="row">{{ id }}</th> 
            <td>{{ email }}</td> 
            <td>{{ prenom }}</td> 
            <td>{{ nom }}</td>
            <td><a href="{{ path('edit-user', {id : id}) }}" type="button" class="btn btn-danger">Modifier</a></td> 
            <td><a href="{{ path('delete-user', {id : id}) }}" type="button" class="btn btn-danger">Supprimer</a></td>    
    </tr>
    
  </tbody>
  </table>
  {% endblock %}